div(ng-controller="ProfileCtrl", ng-form="profileForm")
    .row-fluid
        div.alert.alert-success(ng-show="success")
            button.close(type="button", ng-click="success=false", data-dismiss="alert") &times;
            p {{success}}
        div.alert.alert-error(ng-show="profileForm.$invalid && submitted")
            button.close(type="button", data-dismiss="alert") &times;
            p(ng-show="profileForm.name.$error['required']") "Your Name" is required.
            p(ng-show="profileForm.name.$error['ngp-valid-name-pair']") "Your Name" must be your first and last name with a space in between, ie "John Smith."
            p(ng-show="profileForm.email.$error['required']") "Email Address" is required.
            p(ng-show="profileForm.email.$error['ngp-valid-email']") "Email Address" must be a valid email address that is unique to our system.
            p(ng-show="profileForm.password.$error['required']") "Password" is required.
            p(ng-show="profileForm.password.$error['validator']") "Password" must be at least 9 characters.
            p(ng-show="profileForm.confirm_password.$error['required']") "Confirm Password" is required.
            p(ng-show="profileForm.phone.$error['required']") "Contact Phone" is required.

    .row-fluid
        .span4
            label Your Name
            input.input-block-level(name="name", type="text", placeholder="Your Name Here...", ng-model="profile.name", required, ngp-valid-name-pair, tooltip="Include your first and last name.", tooltip-trigger="focus", tooltip-placement="right", ng-init="profile.name")
            label Email Address
            input.input-block-level(name="email", type="email", placeholder="you@foo.com", ng-model="profile.email", required, ngp-valid-email, tooltip="Must be an email unique to our system.", tooltip-trigger="focus", tooltip-placement="right")
        .span4
            label Password
            input.input-block-level(name="password", type="password", placeholder="", ng-model="profile.password", ui-validate=" '$value.length > 8' ", tooltip="Must be longer than eight characters.", tooltip-trigger="focus", tooltip-placement="right", ng-required="signup")
            label Confirm Password
            input.input-block-level(name="confirm_password", type="password", placeholder="", ng-model="profile.confirm_password", ui-validate=" '$value == profile.password' ", ng-required="signup", tooltip="Must match password.", tooltip-trigger="focus", tooltip-placement="right")
        .span4
            label Contact Phone
            input.input-block-level(name="phone", ui-mask="(999) 999-9999", ng-model="profile.phone.phone", type="text", required)
    .btn.btn-primary(ng-show="!signup", ng-click="update()") Update
